@using Microsoft.AspNetCore.Identity
@model IEnumerable<AppGimnasioMVC.Models.Mensualidad>
@{
    ViewData["Title"] = "Gestionar Mensualidades";
}

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <h4 class="alert-heading">Buen trabajo!</h4>
        <p class="mb-0">@TempData["Mensaje"].</p>
    </div>
}

<div class="row">
    <div class="col-sm-10 offset-1">
        <div class="card border">
            <div class="card-header">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <h2 class="text-info">@ViewData["Title"]</h2>
                        <div class="collapse navbar-collapse" id="navbarColor03"></div>
                        <div class="collapse navbar-collapse" id="navbarColor03">
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Menu" class="btn btn-primary">Menu</a>
                                </li>
                                <li> <p> . </p> </li>
                                <li class="nav-item">
                                    <a asp-action="Crear" asp-controller="Mensualidad" class="btn btn-success">Nueva Mesualidad</a>
                                </li>
                            </ul>
                            <form asp-controller="Mensualidad" asp-action="Index" method="get" class="d-flex">
                                <input class="form-control me-sm-2" type="text" name="filtroIdentificacion" value=@TempData["MIdentificacion"] placeholder="Número de Identificación">
                                <input class="form-control me-sm-2" type="date" name="filtroFechaR" value=@TempData["MFechaR"] placeholder="Fecha">
                                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @if (Model.Count() > 0)
                    {
                        <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr class="table-primary">
                                    <th scope="col">@Html.DisplayNameFor(m => m.Fecha)</th>
                                    <th scope="col">@Html.DisplayNameFor(m => m.FechaInicio)</th>
                                    <th scope="col">@Html.DisplayNameFor(m => m.FechaFin)</th>
                                    <th scope="col">@Html.DisplayNameFor(m => m.Cliente.NumeroIdentificacion)</th>
                                    <th scope="col">@Html.DisplayNameFor(m => m.Cliente.Nombres)</th>
                                    <th scope="col">Detalle</th>
                                    <th scope="col">Editar</th>
                                    <th scope="col">Borrar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@Html.DisplayFor(m => item.Fecha)</th>
                                        <td>@Html.DisplayFor(m => item.FechaInicio)</td>
                                        <td>@Html.DisplayFor(m => item.FechaFin)</td>
                                        <td>@Html.DisplayFor(m => item.Cliente.NumeroIdentificacion)</td>
                                        <td>@Html.DisplayFor(m => item.Cliente.Nombres)</td>
                                        <td>
                                            <a class="btn btn-secondary table-btn" asp-action="Detalle" asp-route-id="@item.Id">
                                                <i class="fas fa-info-circle"> </i>
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn btn-primary table-btn" asp-action="Editar" asp-route-id="@item.Id">
                                                <i class="fas fa-address-book fa-lg" aria-hidden="true"> </i>
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger table-btn" asp-action="Borrar" asp-route-id="@item.Id">
                                                <i class="fas fa-trash fa-lg" aria-hidden="true"> </i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p> No hay registros.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>